body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.container{
    display:flex;
    height: 100vh;
    width: 100vw;
}

.logo{
    display: flex;
    justify-content: center;
    width: 35vw;
    background-color: bisque;
    position: relative;
}

#moderntile{
    max-width: 100%;
    max-height: 100%;
}

.tilelabel{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top:30%;
    text-align: center;
}

.titlelabelbg{
    position: absolute;
    top:28vh;
    height: 90px;
    width: 100%;
    background-color: lightsteelblue;
    opacity: 30%;
}

.labelfooter{
    position: absolute;
    bottom:0;
}

.formside{
    width: 65%;
    background-color: rgb(241, 242, 243);
}

.textsection{
    height: 30%;
    position: relative;
    background-color: rgb(241, 242, 243);
}

p{
    position: absolute;
    left: 50px;
    right: 50px;
    padding: 10px;
    line-height: 30px;
    bottom: 0;
}


.formsection{
    height: 30%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

h2{
    position: relative;
    left: 100px;
    top: 20px;
}

form{
    display:flex;
    flex-flow: row wrap;
    margin: 20px;
    padding: 20px;
    gap:50px;
    width: 70%;
    justify-content: center;
}



label{
    display:block;
}

.buttonsection{
    height: 30%;
    position: relative;
}

button{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: large;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#81977e;
    text-align:center;
    transition: all 0.2s;
}

.account{
    position: absolute;
    top: 70px;
    left: 60px;
}

